* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
html, body {
    height: 100%
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    /*margin: 0 auto;*/
    /*margin-top: 50px;*/
    max-width: 960px;
    display: flex;
    /*justify-content: center;*/
    /*flex-direction: column;*/
}
.col {
    flex: 1;
    background-color: rgb(83, 163, 193);
    transition: all 1s ease;
}

.col:hover {
    /*flex: 5;*/
    opacity: .5;
}

    .col:first-child {
        background-color: rgb(46, 171, 131);
        /*visibility: hidden;*/
        /*display: none;*/
        /*opacity: 0;*/
    }
    .col:last-child {
        background-color: rgb(212, 101, 72);
    }
